@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #111;
  font-size: 14px;
  font-family: var(--font-mono);
}

#app {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
}
#app #mid {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#frame {
  color: #000;
  background: #fff;
  width: 800px;
  height: 500px;
  border-radius: 2px;
}

#scroll {
  margin-top: 2em;
}
#scroll .event {
  display: inline-block;
  color: #111;
  padding: 7px 15px;
  margin-right: 1.6em;
  border-radius: 4px;
  cursor: pointer;
}
#scroll .event.green {
  background: #aed581;
  box-shadow: 0px 3px 0px #33691e;
}
#scroll .event.purple {
  background: #b39ddb;
  box-shadow: 0px 3px 0px #7e57c2;
}
#scroll .event.pink {
  background: #f8bbd0;
  box-shadow: 0px 3px 0px #f48fb1;
}

.title {
  font-weight: 600;
}

.keyword {
  color: #df4545;
  background: #ffeb3b;
  display: inline-block;
  padding: 3px 5px;
  margin: -2px -3px;
  border-bottom: 2px solid #e98f00;
  border-radius: 5px;
  cursor: pointer;
}
.keyword:hover {
  color: #df4545;
  background: #ffe819;
  border-bottom-color: #915900;
}

#FTB {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 3em;
}
#FTB #left-flex {
  max-width: 250px;
  display: flex;
  flex-direction: column;
}
#FTB #left-flex .title {
  margin-bottom: 16px;
  width: 240px;
}
#FTB #left-flex .img {
  width: 186px;
  margin: 30px 0 20px 0;
}
#FTB #left-flex .img img {
  box-shadow: 0px 8px 34px -13px rgba(0, 0, 0, 0.25);
}
#FTB #right-flex {
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  max-width: 420px;
  margin-top: 100px;
}

#Y58 {
  display: flex;
  flex-direction: row;
  padding: 3em;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}
#Y58 #left-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.6em;
  max-width: 269px;
}
#Y58 #right-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
#Y58 #right-flex .description {
  font-weight: 500;
  color: #333;
}
#Y58 .stamp {
  margin-bottom: -1em;
  margin-right: -1em;
  transform: rotate(10deg);
}

.stamp {
  width: 130px;
  max-height: 130px;
}
.stamp img {
  width: 100%;
}

#collection {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#collection #canvas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  width: 448px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#collection #menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 448px;
  bottom: 2em;
  color: #000000;
  background: #ffffff;
  padding: 1em 1.2em;
  border-radius: 5px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 1em;
}
#collection #menu .toggle {
  cursor: pointer;
}

:root {
  --font-mono: monospace;
}
:root .i {
  font-style: italic;
}
:root .highlight {
  display: inline;
  margin: 0 2px 0 4px;
}
:root .highlight.yellow {
  background-color: #fff59d;
}
:root .c5 {
  color: #555;
}
:root .underline {
  border-bottom: 1px dashed #cfcfcf;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
:root .underline:hover {
  border-color: #4fc3f7;
}
:root .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
:root .flex-row > * {
  display: inline-block;
}/*# sourceMappingURL=style.css.map */